<div class="utils_center_text paytable-content">
    <div class="header paytable-header">{{HEADER}}</div>
    <div class="paytable-page">
        <div class="feature-symbol paytable-betlines-image">
            <img src="{{IMAGE}}"/>
        </div>
    </div>
</div>
