<ul>
    {{#replaceSlotsInGameRules}}
        <li>{{#tr}}Gaelic Gold is a video instant game with 2 features: xNudge Wild and Rainbow Spins.{{/tr}}</li>
        <li>{{#tr}}A 3-reel, 3-row video instant game with 11 symbols.{{/tr}}</li>
    {{/replaceSlotsInGameRules}}
    {{^replaceSlotsInGameRules}}
        <li>{{#tr}}Gaelic Gold is a video slot with 2 features: xNudge Wild and Rainbow Spins.{{/tr}}</li>
        <li>{{#tr}}A 3-reel, 3-row video slot with 11 symbols.{{/tr}}</li>
    {{/replaceSlotsInGameRules}}
    <li class="rtp">{{#tr}}The theoretical return to the player for this game is <span class="rtp">-1%</span>.{{/tr}}</li>
    <li class="simulated-maximum-payout">{{#tr}}Simulated maximum payout is <span class="maxMultiplier">-1</span> times the bet (<span class="maxMultiplierProbability">-2</span> rounds).{{/tr}}</li>
    <li>{{#tr}}Features and spin results affect each other within a game round.{{/tr}}</li>
    <li class="rtp rtp-feature">{{#tr}}The theoretical return to the player for Rainbow Spins feature buy is <span class="rtp-FREESPIN">-2%</span>.{{/tr}}</li>
    <li>{{#tr}}5 win lines (see pay table for more info).{{/tr}}</li>
    <li>{{#tr}}A Wild symbol substitutes for any symbol except Bonus.{{/tr}}</li>
    <li>{{#tr}}A Wild symbol substitutes for the highest possible winning combination according to the pay table.{{/tr}}</li>
    <li>{{#tr}}A winning combination of the same symbol pays from left to right on adjacent reels.{{/tr}}</li>
    <li>{{#tr}}Coinciding wins on multiple combinations are paid out.{{/tr}}</li>
    <li>{{#tr}}The highest win per activated win line is paid.{{/tr}}</li>
    <li>{{#tr}}Winning combinations and pays are made according to the pay table.{{/tr}}</li>
    <li>{{#tr}}Different reel configurations are used, depending on the game mode (main game or any of the bonus modes).{{/tr}}</li>
</ul>
