<div class="utils_center_text paytable-content" >
    <div>
        <div class="Wild-header-text">
            {{#WILD_TEXT}}<div>{{.}}</div>{{/WILD_TEXT}}
        </div>
    </div>
    <div class="interface-settingsSection_subSection_uri section_divider"></div>
    <div class="paytable-page set-min-width-wild-style">
        <div>
            <div class="paytable-feature-image-mobile">
                <img src="{{IMAGE}}" class="feature-image-mobile"/>
            </div>
        </div>
        <div class="paytable-feature-body-wild-mobile">
            {{#BODY}}
                <spin class="paytable-text">{{.}}</spin>
            {{/BODY}}
        </div>
    </div>
</div>

