<div  class="interface-settingsSection_subSection_uri">
    <div>
        <div class="header-style">{{HEADING}}</div>
    </div>
    <div class="interface-settingsSection_subSection_uri section_divider"></div>
<div class="utils_center_text paytable-content">
    <div class="paytable-page">
        <div class="feature-symbol paytable-betlines-image">
            <img src="{{IMAGE}}" class="image5-mobile"/>
        </div>
    </div>
</div>
</div>
