<div class="interface-settingsSection_subSection_uri paytable-feature-margin-section3">
    <div>
        <div class="header-style">{{HEADING}}</div>
    </div>
    <div class="interface-settingsSection_subSection_uri section_divider"></div>
<div class="utils_center_text paytable-content" >
    <div class="paytable-page">
        <div>
            <div>
                <img src="{{IMAGE_HIGH}}" class="image4-mobile set-display"/>
            </div>
            <div>
                <div>
                    <img src="{{IMAGE_LOW}}" class="image4-mobile set-display"/>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
