<div  class="interface-settingsSection_subSection_uri paytable-feature-margin">
    <div>
        <div class="header-style">WILD MONKEYS</div>
    </div>
    <div class="interface-settingsSection_subSection_uri section_divider"></div>
<div class="utils_center_text paytable-content" >
    <div class="paytable-page">
        <div>
            {{#BODY}}
                <div class="paytable-text2-monkeys">{{.}}</div>
            {{/BODY}}
        </div>
        <div>
            <div class="paytable-feature-image3-mobile">
                <img src="{{IMAGE}}" class="image3-mobile"/>
            </div>
        </div>
    </div>
</div>
</div>
