var H = require("hogan.js");
module.exports = function() { var T = new H.Template({code: function (c,p,i) { var t=this;t.b(i=i||"");t.b("<p style=\"color: #9afb00\">");t.b(t.v(t.f("flash",c,p,0)));t.b("</p>");t.b("\n");return t.fl(); },partials: {}, subs: {  }}, "<p style=\"color: #9afb00\">{{flash}}</p>\n", H);return T; }();