var H = require("hogan.js");
module.exports = function() { var T = new H.Template({code: function (c,p,i) { var t=this;t.b(i=i||"");t.b("<h1>");if(t.s(t.f("tr",c,p,1),c,p,0,11,29,"{{ }}")){t.rs(c,p,function(c,p,t){t.b("Responsible Gaming");});c.pop();}t.b("</h1>");t.b("\n" + i);t.b("<p>");if(t.s(t.f("tr",c,p,1),c,p,0,52,166,"{{ }}")){t.rs(c,p,function(c,p,t){t.b("Your gaming session is now ended for this time, you have to close the game manually to proceed with other actions!");});c.pop();}t.b("</p>");t.b("\n");return t.fl(); },partials: {}, subs: {  }}, "<h1>{{#tr}}Responsible Gaming{{/tr}}</h1>\n<p>{{#tr}}Your gaming session is now ended for this time, you have to close the game manually to proceed with other actions!{{/tr}}</p>\n", H);return T; }();